<div class="container">
    <form class="example-form mat-elevation-z8">

      <div class="logo">
        <img src="../../../assets/img/logo.png" alt="">
        <h1>SistecPedido</h1>
      </div>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="vemail" [(ngModel)]="creds.email" matInput [formControl]="vemail" placeholder="Seu Email">
          <mat-error *ngIf="vemail.hasError('email') && !vemail.hasError('required')">
            Email inválido
          </mat-error>
          <mat-error *ngIf="vemail.hasError('required')">
            Email inválido
          </mat-error>
        </mat-form-field>


        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" [(ngModel)]="creds.senha" matInput [formControl]="vsenha" placeholder="Sua senha">
            <mat-error *ngIf="vsenha.hasError('vsenha') && !vsenha.hasError('required')">
              A senha deve conter no mínimo 4 caracteres
            </mat-error>
            <mat-error *ngIf="vsenha.hasError('required')">
              A senha deve conter no mínimo 4 caracteres
            </mat-error>
          </mat-form-field>

          <div class="recuperar">
            <a href="#" class="a">Recuperar senha</a>
          </div>


          <div class="botoes">
            <button class="acessar mat-elevation-z8" [disabled]="!validarCampo()" mat-raised-button color="primary">Entrar</button>
            <a class="criar mat-elevation-z8" mat-stroked-button color="primary" href="/cadastrar">Cadastre-se</a>
          </div>

      </form>
</div>