<div class="container">
  <form class="example-form mat-elevation-z8">
    <h1>Cadastro de Usuário</h1>

      <mat-form-field class="example-full-width">
        <mat-label>Nome Completo</mat-label>
        <input type="nome" maxlength="50" [(ngModel)]="usuario.nome" matInput [formControl]="nome" placeholder="Nome completo">
        <mat-error *ngIf="nome.hasError('nome') && !nome.hasError('required')">
          Campo obrigatório!
        </mat-error>
        <mat-error *ngIf="nome.hasError('required')">
          Campo obrigatório!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>CPF</mat-label>
        <input type="cpf" [(ngModel)]="usuario.cpf" matInput [formControl]="cpf" placeholder="CPF">
        <mat-error *ngIf="cpf.hasError('cpf') && !cpf.hasError('required')">
          Campo obrigatório!
        </mat-error>
        <mat-error *ngIf="cpf.hasError('required')">
          Campo obrigatório!
        </mat-error>
      </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" [(ngModel)]="usuario.email" matInput [formControl]="email" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Campo obrigatório!
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            Campo obrigatório!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Data de Nascimento</mat-label>
          <input type="date" [(ngModel)]="usuario.datanascimento" matInput [formControl]="datanascimento">
          <mat-error *ngIf="datanascimento.hasError('datanascimento') && !datanascimento.hasError('required')">
            Campo obrigatório!
          </mat-error>
          <mat-error *ngIf="datanascimento.hasError('required')">
            Campo obrigatório!
          </mat-error>
        </mat-form-field>

        <section class="section">
          <mat-checkbox class="margin" color="primary">Gerente</mat-checkbox>
          <mat-checkbox class="margin" color="primary">Loja</mat-checkbox>
          <mat-checkbox class="margin" color="primary">Distribuidor</mat-checkbox>
        </section>

        <div class="divsenha">
          <mat-form-field>
            <mat-label>Digite a senha</mat-label>
            <input matInput [(ngModel)]="usuario.senha" [type]="btsenha ? 'password' : 'text'" [formControl] = "senha">  
            <button mat-icon-button matSuffix (click)="mostrarsenha()" [attr.aria-label]="'password'" [attr.aria-pressed]="btsenha">
              <mat-icon>{{btsenha ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="senha.hasError('senha') && !senha.hasError('required')">
              Campo obrigatório!
            </mat-error>
            <mat-error *ngIf="senha.hasError('required')">
              Campo obrigatório!
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Repita a senha</mat-label>
            <input matInput [type]="btrepitasenha ? 'password' : 'text'" [formControl] = "repitasenha">  
            <button mat-icon-button matSuffix (click)="mostrarrepitasenha()" [attr.aria-label]="'password'" [attr.aria-pressed]="btrepitasenha">
              <mat-icon>{{btrepitasenha ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="repitasenha.hasError('repitasenha') && !repitasenha.hasError('required')">
              Campo obrigatório!
            </mat-error>
            <mat-error *ngIf="repitasenha.hasError('required')">
              Campo obrigatório!
            </mat-error>
          </mat-form-field>
        </div>


          <div class="botoes">
            <button class="salvar mat-elevation-z8" [disabled]="!validarCampo()" mat-raised-button color="primary">Salvar</button>
            <a class="voltar mat-elevation-z8" mat-stroked-button color="warn" routerLink="../">Voltar</a>
          </div>

      </form>
</div>